// header

@import "../_mixin.scss";
@import "../_extend.scss";
@import "../_variables.scss";

header {
    width: 100%;
    // min-width: 1080px;
    .head_area01 {
        @extend %clearfix;
        background-color: $base_color;
        font-size: 100%;
        padding: 8px 15px;
        .band_name {
            float: left;
            color: #fff;
            a {
                color: #fff;
            }
        }
        #menu_top_nav {
            float: right;
            color: #fff;
            a {
                color: #fff;
                text-decoration: underline;
            }
            .pipe {
                color: #faa;
            }
        }
    }
    .head_area02 {
        @extend %clearfix;
        background-color: #fff;
        margin: 0 auto;
        padding: 10px;
        width: 1080px;
        .logo {
            float: left;
        }
    }
}
