// header

@import "../_mixin.scss";
@import "../_extend.scss";
@import "../_variables.scss";

header {
    @include base_width;
    .head_area01 {
        @extend %clearfix;
        background-color: $base_color;
        font-size: $base_font_size;
        .navbar-header {
            .navbar-toggle {
                height: 40px;
                margin-right: 0px;
                margin-top: 0;
                margin-bottom: 0;
                padding: 3px 10px;
                border-left: 1px solid #fff;
                border-right: none;
                border-top: none;
                border-bottom: none;
                border-radius: 0;
                position: inherit;
                &:hover, &:focus {
                    background-color: transparent;
                }
                .nav__btn--title {
                    color: #fff;
                    font-size: 10px;
                    font-weight: bold;
                }
                .icon-bar {
                    margin-top: 4px;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: #fff;
                }
            }
            .band_name {
                float: left;
                padding: 10px 15px;
                height: 40px;
                font-size: 13px;
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: #fff;
                }
            }
        }
        #gnavi {
            padding: 0;
            #menu_top_nav.nav {
                margin: 0;
                color: #fff;
                >li {
                    background-color: #f44;
                    border-bottom: 1px solid #fff;
                    >a {
                        padding: 10px;
                        color: #fff;
                        text-decoration: none;
                        text-align: left;
                    }
                    .config {
                        text-align: left;
                        #config--dropdown {
                            width: 100%;
                            padding: 10px;
                            text-align: left;
                        }
                        .dropdown-menu {
                            padding: 0;
                            [class^=dropdown-menu--]>a {
                                padding: 10px 25px;
                                color: #000;
                                font-size: 13px;
                                text-decoration: none;
                                background-color: #fff;
                            }
                            [class^=dropdown-menu--] + [class^=dropdown-menu--] {
                                border-top: 1px solid #f44;
                            }
                        }
                    }
                    .official_link {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    .head_area02 {
        @extend %clearfix;
        background-color: #fff;
        margin: 0 auto;
        padding: 10px;
        width: 1080px;
        .logo {
            float: left;
        }
    }
}
