// nav

@import "../_mixin.scss";
@import "../_extend.scss";
@import "../_variables.scss";

nav {
    font-size: $base_font_size;
    float: left;
    width: 15%;
    .widget_header {
        @include base_color_style;
        border: 1px solid $base_color;
        padding: 1px 0;
        width: 100%;
    }
    .widget_menu_wrap {
        width: 100%;
        border: 5px solid $frame_color;
        .widget_menu {
            height: $wgt_menu_hight;
            border-bottom: 1px solid $frame_color;
            a {
                display: inline-block;
                width: 100%;
                line-height: $wgt_menu_hight;
                &:hover {
                    .txt_hover {
                        @include nav_hover;
                    }
                }
            }
        }
    }
}
