
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

// btn

.btn {
    @include btn;
}
.btn_small {
    @include btn_small;
}
.btn_mini {
    @include btn_mini;
}
.btn_square_small {
    @include btn_square_small;
    text-align: center;
}
.btn_login {
    @include btn_base;
}
.btn_save {
    @include btn_base;
}
.btn_next {
    @include btn_base;
}
.btn_change {
    @include btn_base;
}
.btn_back {
    @include btn_gray;
}
.btn_top {
    @include btn_gray;
}
.btn_close {
    @include btn_gray;
}
.btn_allow {
    box-shadow: none;
}