@import "_extend.scss";
@import "_variables.scss";


// layout
@mixin base_width {
    width: 100%;
}
@mixin p5 {
    padding: 5px;
}
@mixin p10 {
    padding: 10px;
}
@mixin p20 {
    padding: 20px;
}
@mixin ph5 {
    padding-left: 5px;
    padding-right: 5px;
}
@mixin ph10 {
    padding-left: 10px;
    padding-right: 10px;
}
@mixin ph20 {
    padding-left: 20px;
    padding-right: 20px;
}
@mixin ph30 {
    padding-left: 30px;
    padding-right: 30px;
}
@mixin pv5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
@mixin pv10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
@mixin pv20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
@mixin pv30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
@mixin mh5 {
    margin-left: 5px;
    margin-right: 5px;
}
@mixin mh10 {
    margin-left: 10px;
    margin-right: 10px;
}
@mixin mh20 {
    margin-left: 20px;
    margin-right: 20px;
}
@mixin mv5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
@mixin mv10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
@mixin mv20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

// color
@mixin text_color {
    color: $base_font_color;
    opacity: 0.87;
}
@mixin secondary_text {
    color: $base_font_color;
    opacity: 0.54;
}
@mixin base_color_style {
    background-color: $base_color;
    color: #fff;
    a {
        color: #000;
        &:hover,
        &:active,
        &:visited {
            color: #fff;
        }
    }
}
@mixin base_frame($border: 1px, $style: solid) {
    border: $border $style $frame_color;
}
@mixin base_frame_bb($border: 1px, $style: solid) {
    border-bottom: $border $style $frame_color;
}
@mixin nav_hover {
    border-bottom: 2px dotted $base_color;
}

// btn
@mixin btn {
    display: inline-block;
    position: relative;
    padding: 6px 24px 2px 24px;
    width: auto;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 1.6;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    &:active {
        padding: 4px 24px 4px 24px;
        position: relative;
        top: 5px;
        box-shadow: none !important;
    }
}
@mixin btn_small {
    padding: 6px 24px 2px 24px;
}
@mixin btn_mini {
    font-size: 11px;
    padding: 5px;
    line-height: 1em;
    border-radius: 0;
    &:active {
        padding: 5px;
        position: relative;
        top: 5px;
        box-shadow: none !important;
    }
}
@mixin btn_square_small {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    outline: none;
    border-radius: 3px;
}
@mixin btn_base {
    background-color: $base_color;
    border-top: $base_color;
    border-left: $base_color;
    border-right: $base_color;
    border-bottom: $base_color - 50;
    box-shadow:0 5px 0 $base_color - 50;
    color: #fff;
}
@mixin btn_gray {
    background-color: $frame_color;
    border-top: $frame_color;
    border-left: $frame_color;
    border-right: $frame_color;
    border-bottom: $frame_color - 20;
    box-shadow:0 5px 0 $frame_color - 20;
    color: #000;
}