// color
$base_color: #f00;
$info_color: #03A9F4;
$base_font_color: #000;
$link_font_color: #304FFE;
$frame_color: #e0e0e0;

// font
$base_font_size: 13px;
$sp_font_size: 26px;


// layout
$wgt_menu_hight: 40px;