
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

.year_list {
    @include p10;
    text-align: left;
    line-height: 30px;
    #form_year {
        line-height: 18px;
        vertical-align: top;
        margin-right: -5px;
        border-radius: 5px
    }
}
.member_list {
    @include base_frame();
    @include ph10;
    width: 100%;
    .position {
        .table.table_list {
            tr > td {
                padding-top: 5px;
                padding-bottom: 0;
                padding-left: 5px;
            }
            tr:nth-child(2)>td {
                border-top: none;
            }
        }
        .position_name {
            font-size: 16px;
            font-weight: bold;
            text-align: left;
        }
        .position_cnt {
            font-size: 13px;
            font-weight: bold;
            text-align: right;
            padding-right: 10px;
        }
    }
}

.member-list__header--name,
.member-list__body--name {
    width: 10% !important;
}
.member-list__body--name {
    padding-bottom: 10px !important;
}
