
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

section {
    margin: auto;
}
.attendance-wrapper {
    width: 100%;
    margin: auto;
}
.attendance-head {
    @include pv10;
    // width: 355px;
    width: 100%;
    display: table;
    background-color: rgba(255, 255, 255, 1);
    &.fixed {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        position: fixed;
            top: 0;
            left: 0;
        border-bottom: 1px solid #f99;
    }
}
[class^="attendance-head__"] {
    display: table-cell;
}
.attendance-head__title {
    text-align: left;
    >h2 {
        margin-top: 0;
    }
}
.attendance-head__submit {
    text-align: right;
    vertical-align: middle;
    >input {
        margin-top: -5px;
        margin-right: 1px;
    }
}
.attendance-body {
    &.scrolled {
        margin-top: 83px;
    }
}
.attendance-table {
    [class^="attendance-table__"] {
        text-align: left;
    }
    .form-control {
        padding: 6px 5px;
    }
    tr.undecided {
        background-color: #fcc;
        color: #f00;
    }
}
.attendance-table__date {
    width: 10%;
}
.attendance-table__dow{
    width: 12%;
}
.attendance-table__event {
    // width: 40%;
}
.attendance-table__attendance {
    width: 22%;
}
.modal-chg-attend__header--title {
    text-align: left;
}
.modal-chg-attend .modal-body {
    height: 180px;
}
.modal-chg-attend__body--date {
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: left;
}
.modal-chg-attend__body--new {
    width: 50%;
    display: inline-block;
}
.modal-chg-attend__body--alert {
    margin-top: 16px;
}
