@charset "utf-8";

// @import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
// @import "compass";
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";
@import "_sanitize.scss";
@import "_btn.scss";
@import "layout/_header.scss";
@import "layout/_section.scss";
@import "layout/_footer.scss";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
.bold {
    font-weight: bold;
}
.fz11 {
    font-size: 11px;
}
.fz25 {
    font-size: 25px;
}
.w100 {
    width: 100%;
}
.m5 {
    margin: 5px;
}
.m10 {
    margin: 10px;
}
.m20 {
    margin: 20px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mv5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.mv10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mv20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.mh5 {
    margin-left: 5px;
    margin-right: 5px;
}
.mh10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mh20 {
    margin-left: 20px;
    margin-right: 20px;
}
.m0auto {
    margin: 0 auto;
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt20 {
    padding-top: 20px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb20 {
    padding-bottom: 20px;
}
.pv5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pv10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pv20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pl5 {
    padding-left: 5px;
}
.pl10 {
    padding-left: 10px;
}
.pl20 {
    padding-left: 20px;
}
.pr5 {
    padding-right: 5px;
}
.pr10 {
    padding-right: 10px;
}
.pr20 {
    padding-right: 20px;
}
.ph5 {
    padding-left: 5px;
    padding-right: 5px;
}
.ph10 {
    padding-left: 10px;
    padding-right: 10px;
}
.ph20 {
    padding-left: 20px;
    padding-right: 20px;
}
.fln {
    float: none;
}
.fll {
    float: left;
}
.flr {
    float: right;
}
// ************
// text
// ************
h1 {
    font-size: 20px;
    text-align: left;
}
h2 {
    font-size: 18px;
}
label {
    line-height: 16px;
    padding-left: 5px;
}
a {
    color: $link_font_color;
    text-decoration: underline;
}
.ta-l {
    text-align: left;
}
.ta-r {
    text-align: right;
}
.cf00 {
    color: #f00;
}
.c00f {
    color: #00f;
}
.gold {
    color: #ffd700;
}
// ************
// background
// ************
.bgc_fff {
    background-color: #fff !important;
}
// ************
// border
// ************
.bd_none {
    border: none;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}
body {
    @include text_color;
    text-align: center;
    overflow: hidden;
    // font-family: 'Noto Sans Japanese', sans-serif;
}
input::selection,
textarea::selection {
    color: #000;
}
input, select {
    border: solid 1px #ccc;
    border-radius: 5px;
}
input[type="text"],
input[type="password"],
select {
    padding-left: 5px;
}
select {
    /*Firefox用*/
    text-indent: .01px;
    text-overflow: "";
}
caption {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

// ************
// 文字
// ************
p {
    margin: 0;
}

// ************
// table
// ************
table {
    &.table_list {
        border-collapse: separate;
        border-spacing: 0 3px;
        th, td {
            @include pv5;
            width: 20%;
            &.name {
                width: 40%;
                font-size: 14px;
            }
        }
        th {
            @include base_color_style;
            border-left: 2px solid #fff;
            &:first-child {
                border-left: 0;
            }
        }
        td {
            padding-left: 10px;
            text-align: left;
        }
    }
}
#container {
    @include base_width;
    @extend %clearfix;
    margin: 0 auto;
}
.alert {
    @include ph30;
    @include pv20;
    font-size: 15px;
    margin-bottom: 18px;
    text-align: left;
    border: solid 1px #000;
    color: #000;
    ul>li {
        list-style-type: circle;
    }
    &.alert-info {
        border: solid 1px $info_color;
        color: $info_color;
    }
    &.alert-error {
        border: solid 1px $base_color - 10;
        color: $base_color - 10;
        font-weight: bold;
    }
}
.secondary_text {
    @include secondary_text;
}
.contents {
    @include base_frame();
    @include p10;
    width: 100%;
}
.control_group {
    line-height: 30px;
    th, td {
        text-align: left;
    }
    th, th>label {
        padding-right: 10px;
        font-weight: normal;
    }
}
.fuelphp-dump {
    text-align: left;
}