
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

.change-pass {
    @include base_frame();
    @include p10;
    width: 100%;
    .table.table_add {
        margin: 0 auto;
        th, td {
            padding: 0;
            vertical-align: middle;
        }
        tr:first-child {
            &>th, &>td {
                border-top: none;
            }
        }
        th {
            width: 38%;
        }
        td {
            @include pv20;
            text-align: left;
        }
        .control_group {
            border-bottom: $frame_color solid 1px;
            line-height: 30px;
            th, td {
                input, select {
                    line-height: 30px;
                }
            }
        }
    }
    #form_old_pass,
    #form_new_pass,
    #form_new_pass_confirm {
        width: 100%;
    }
}