
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

.whats-new {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.whats-new__header {
    &>table {
        margin-bottom: 0;
        th:first-child {
            width: 135px;
        }
    }
}
.whats-new__body {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    >table {
        tr:first-child>td {
            border-top: none;
        }
    }
}
.whats-new__body--date,
.whats-new__body--info {
    text-align: left;
}
.whats-new__body--date {
    width: 135px;
}
.whats-new__body--info {
}

.manage-menu {
    border: 1px solid #ddd;
}
.manage-menu__header {
    &>table {
        margin-bottom: 0;
    }
}
.manage-menu__body--row {
    text-align: left;
}
.manage-menu__body--row a {
    display: inline-block;
    width: 100%;
}