
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

#form_login {
    margin-top: 10px;
}
.control_group {
    width: 100%;
    margin: 0 auto 10px;
    label {
        text-align: left;
        display: block;
    }
    input {
        margin-bottom: 10px;
        width: 100%;
    }
}