
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

section {
    @include base_width;
}
.logout {
    h2 {
        @include mv20;
    }
    a {
        text-decoration: underline;
    }
}