
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

.member_profile {
    width: 100%;
    .control_group {
        @include base_frame_bb;
        >th {
            width: 25%;
            padding-right: 5px;
        }
        >td {
            @include pv20;
            padding-right: 5px;
            text-align: left;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
    .login_id_set {
        display: table;
        >div {
            display: table-cell;
        }
        .change_mail,
        .save_mail {
            vertical-align: top;
            margin-top: 2px;
            margin-left: 10px;
        }
        #form_login_id,
        .save_mail {
            display: none;
        }
        #form_login_id {
            width: 300px;
        }
    }
    #form_attendance_url {
        width: 100%;
        padding-right: 5px;
    }
    .join_count {
        font-size: 13px;
        font-weight: bold;
    }
}
.join_year_list {
    width: 100%;
    margin: 0 auto;
    thead {
        tr {
            @include base_frame_bb;
            th {
                padding: 0;
            }
        }
    }
    tbody {
        font-size: 10px;
        tr {
            @include base_frame_bb;
            &:last-child {
                border-bottom: none;
            }
            td {
                width: 32%;
                text-align: left;
                line-height: 2.5em;
                &:first-child {
                    width: 15%;
                }
            }
        }
    }
}