
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

section {
    margin: auto;
}
.schedule-wrapper {
    width: 90%;
    margin: auto;
}
.schedule-year-list {
    text-align: left;
}
.schedule-head {
    width: 100%;
    margin-bottom: 20px;
    display: table;
}
[class^="schedule-head__"] {
    display: table-cell;
}
.schedule-head__title {
    width: 60%;
    text-align: left;
}
.schedule-head__add {
    width: 30%;
}
.schedule-table {
    tr {
        height: 45px;
    }
    tr.undecided {
        background-color: #fcc;
        color: #f00;
    }
    td[class^="schedule-table__"] {
        text-align: left;
        vertical-align: middle;
    }
}
.schedule-table__date {
    width: 10%;
}
.schedule-table__dow {
    width: 10%;
}
.schedule-table__event {
    // width: 60%;
}
.schedule-table__count-check {
    width: 10%;
}
.schedule-table__edit {
    width: 13%;
}
