.param {
  padding: 10px;
  text-align: left;
  line-height: 30px;
}

.param #form_year {
  line-height: 18px;
  vertical-align: top;
  margin-right: -5px;
  border-radius: 5px;
}

.param .param__period {
  margin-left: 10px;
  color: #00f;
  text-decoration: underline;
}

.base-frame {
  border: 1px solid #e0e0e0;
  padding: 10px;
  overflow: auto;
}

.base-frame #schedule-list {
  position: relative;
  width: 855px;
  height: 500px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #ff8c8c;
  float: left;
}

.base-frame #schedule-list .table-scroll {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
  width: 100%;
}

.base-frame #schedule-list .table-scroll th, .base-frame #schedule-list .table-scroll td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.base-frame #schedule-list .table-scroll th {
  background-color: #f00;
  color: #fff;
}

.base-frame #schedule-list .table-scroll th a {
  color: #000;
}

.base-frame #schedule-list .table-scroll th a:hover, .base-frame #schedule-list .table-scroll th a:active, .base-frame #schedule-list .table-scroll th a:visited {
  color: #fff;
}

.base-frame #schedule-list .table-scroll td {
  border: 1px solid #ff8c8c;
}

.base-frame #schedule-list .table-scroll .tds_over, .base-frame #schedule-list .table-scroll .over_active {
  background-color: #fff0f0;
}

.base-frame #schedule-list #corner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 160px;
  margin: 0;
  border-bottom: 3px double #ff8c8c;
}

.base-frame #schedule-list #corner tr:last-child td {
  border-bottom: none;
}

.base-frame #schedule-list #corner th, .base-frame #schedule-list #corner td {
  text-align: center;
}

.base-frame #schedule-list #corner th {
  border-right: 3px double #f00;
}

.base-frame #schedule-list #corner td {
  border-left: none;
  border-right: 3px double #ff8c8c;
}

.base-frame #schedule-list #header-h {
  position: absolute;
  left: 160px;
  top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 693px;
  border-bottom: 3px double #ff8c8c;
}

.base-frame #schedule-list #header-h th {
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
}

.base-frame #schedule-list #header-h th:first-child, .base-frame #schedule-list #header-h td:first-child {
  border-left: none;
}

.base-frame #schedule-list #header-h tr:last-child td {
  border-bottom: none;
}

.base-frame #schedule-list #header-h th:last-child {
  border-right: 1px solid #ff8c8c;
}

.base-frame #schedule-list #header-h .event {
  white-space: nowrap;
  overflow: scroll;
}

.base-frame #schedule-list #header-v {
  position: absolute;
  left: 0px;
  top: 153px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 160px;
  height: 346px;
}

.base-frame #schedule-list #header-v .name {
  padding-left: 5px;
  border-left: none;
  border-right: 3px double #ff8c8c;
}

.base-frame #schedule-list #header-v tr:first-child .name {
  border-top: none;
}

.base-frame #schedule-list #data {
  position: absolute;
  left: 160px;
  top: 153px;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 693px;
  height: 346px;
}

.base-frame #schedule-list #data .personal_row td {
  padding-left: 5px;
}

.base-frame #schedule-list #data .personal_row:first-child td {
  border-top: none;
}

.base-frame #schedule-list #data td:first-child {
  border-left: none;
}

.base-frame #schedule-list #data .undecided {
  background-color: #fcc;
  color: #f00;
}

.base-frame #schedule-list .h-fix-tbl {
  width: 695px;
}

.base-frame #schedule-list .corner th, .base-frame #schedule-list .corner td {
  width: header_v_width;
  height: 50px;
}

.base-frame #schedule-list .h-fix-tbl th, .base-frame #schedule-list .h-fix-tbl td {
  width: 85px;
  height: 50px;
  padding: 0 5px;
}

.base-frame #schedule-list .v-fix-tbl th, .base-frame #schedule-list .v-fix-tbl td {
  width: 158px;
  height: 28px;
}

.base-frame #schedule-list .attend .personal_row {
  height: 29px;
}

.base-frame #schedule-list .attend .personal_row:first-child {
  height: 28px;
}

.base-frame #schedule-list .attend td {
  width: 85px;
}

.base-frame #attendee-total {
  margin-top: 163px;
}

.base-frame #attendee-total .table.attendee-total--table {
  width: auto;
}

.base-frame #attendee-total .table.attendee-total--table .attendee-total--table--personal {
  width: 135px;
  height: 29px;
  padding: 0 0 0 10px;
  border-top: 1px solid #ff8c8c;
  border-bottom: 1px solid #ff8c8c;
  border-right: 1px solid #ff8c8c;
  text-align: left;
  vertical-align: middle;
}
