.fiscal_year_list {
  padding: 10px;
  text-align: left;
  line-height: 30px;
}

.fiscal_year_list #form_year {
  line-height: 18px;
  vertical-align: top;
  margin-right: -5px;
  border-radius: 5px;
}

.member-list {
  border: 1px solid #e0e0e0;
  padding: 10px;
  width: 100%;
}

.member-list .position {
  margin-top: 10px;
  margin-bottom: 10px;
}

.member-list .position .table.table_list tr:nth-child(2) > td {
  border-top: none;
}

.member-list .position .position_name {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.member-list .position .position_cnt {
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.member-list__table {
  width: 100%;
}

.member-list__header--id,
.member-list__header--name,
.member-list__header--attendance_count,
.member-list__header--attendance-rate,
.member-list__body--id,
.member-list__body--name,
.member-list__body--attendance-count,
.member-list__body--attendance-rate,
.member-list__body--perfect-attendance,
.member-list__body--perfect-attendance {
  text-align: left;
}

.member-list__header--id,
.member-list__body--id {
  width: 5%;
}

.member-list__header--name,
.member-list__body--name {
  width: 25%;
}

.member-list__header--attendance-count,
.member-list__body--attendance-count {
  width: 15%;
}

.member-list__header--attendance-rate,
.member-list__body--attendance-rate {
  width: 30%;
}
