section {
  margin: auto;
}

.attendance-wrapper {
  width: 80%;
  margin: auto;
}

.attendance-head {
  width: 100%;
  margin-bottom: 20px;
  display: table;
}

[class^="attendance-head__"] {
  display: table-cell;
}

.attendance-head__title {
  width: 80%;
  text-align: left;
}

.attendance-head__submit {
  width: 20%;
  text-align: right;
  vertical-align: bottom;
}

.attendance-table td[class^="attendance-table__"] {
  text-align: left;
}

.attendance-table tr.undecided {
  background-color: #fcc;
  color: #f00;
}

.attendance-table__date {
  width: 10%;
}

.attendance-table__dow {
  width: 10%;
}

.attendance-table__event {
  width: 50%;
}

.attendance-table__attendance {
  width: 30%;
}

.attendance-table__change {
  cursor: pointer;
}

.modal-chg-attend__header--title {
  text-align: left;
}

.modal-chg-attend .modal-body {
  height: 180px;
}

.modal-chg-attend__body--date {
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
}

.modal-chg-attend__body--new {
  width: 50%;
  display: inline-block;
}

.modal-chg-attend__body--alert {
  margin-top: 16px;
}
