input {
  display: none;
}
input+label,
input+label::before,
input+label::after {
  -webkit-transition: all .2s;
  transition: all .2s;
}
input+label {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 48px;
  border-radius: 24px;
  cursor: pointer;
}
input+label::before {
  display: block;
  content: attr(data-off-label);
  position: absolute;
  top: 14px;
  right: 7px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
input+label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
}
input:checked+label::before {
  content: attr(data-on-label);
  left: 7px;
  right: auto;
  color: #fff;
}
input:checked+label::after {
  left: 54px;
  background-color: #f7f7f7;
}



/* demo01 */
#demo01+label {
  background-color: #eee;
}
#demo01+label::before {
  color: #aaa;
}
#demo01:checked+label {
  background-color: #3498db;
}
#demo01:checked+label::before {
  color: #fff;
}