@charset "UTF-8";
header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none;
}

button {
  overflow: visible;
  -webkit-appearance: button;
}

details {
  display: block;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

input {
  -webkit-border-radius: 0;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

summary {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

:root {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

.btn {
  width: 130px;
  line-height: 2.7;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  text-align: center;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background-color: #e0e0e0;
  box-shadow: 0 5px 0 #cccccc;
}

.btn:hover, .btn:active, .btn:focus {
  color: #000;
  text-decoration: none;
}

.btn:active {
  position: relative;
  top: 5px;
  box-shadow: none !important;
}

.btn_small {
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  outline: none;
  border-radius: 5px;
}

.btn_mini {
  font-size: 11px;
  padding: 5px;
  line-height: 1em;
  border-radius: 0;
}

.btn_mini:active {
  padding: 5px;
  position: relative;
  top: 5px;
  box-shadow: none !important;
}

.btn_square_small {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  outline: none;
  border-radius: 3px;
  text-align: center;
}

.btn_login {
  background-color: #f00;
  border: #f00;
  box-shadow: 0 5px 0 #cd0000;
  color: #fff;
}

.btn_login:hover, .btn_login:active, .btn_login:focus {
  color: #fff;
}

.btn_save {
  background-color: #f00;
  border: #f00;
  box-shadow: 0 5px 0 #cd0000;
  color: #fff;
}

.btn_save:hover, .btn_save:active, .btn_save:focus {
  color: #fff;
}

.btn_next {
  background-color: #f00;
  border: #f00;
  box-shadow: 0 5px 0 #cd0000;
  color: #fff;
}

.btn_next:hover, .btn_next:active, .btn_next:focus {
  color: #fff;
}

.btn_change {
  background-color: #f00;
  border: #f00;
  box-shadow: 0 5px 0 #cd0000;
  color: #fff;
}

.btn_change:hover, .btn_change:active, .btn_change:focus {
  color: #fff;
}

.btn_back {
  background-color: #e0e0e0;
  border: #e0e0e0;
  box-shadow: 0 5px 0 #cccccc;
  color: #000;
}

.btn_back:hover, .btn_back:active, .btn_back:focus {
  color: #000;
}

.btn_top {
  background-color: #e0e0e0;
  border: #e0e0e0;
  box-shadow: 0 5px 0 #cccccc;
  color: #000;
}

.btn_top:hover, .btn_top:active, .btn_top:focus {
  color: #000;
}

.btn_close {
  background-color: #e0e0e0;
  border: #e0e0e0;
  box-shadow: 0 5px 0 #cccccc;
  color: #000;
}

.btn_close:hover, .btn_close:active, .btn_close:focus {
  color: #000;
}

.btn_allow {
  box-shadow: none;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  min-width: 1080px;
}

header .head_area01 {
  background-color: #f00;
  font-size: 13px;
}

header .head_area01 .band_name {
  float: left;
  padding: 8px 15px;
  height: 34px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

header .head_area01 .band_name:hover {
  color: #fff;
}

header .head_area01 #gnavi {
  height: 34px !important;
  padding: 0;
}

header .head_area01 #gnavi #menu_top_nav {
  margin-right: 0;
  color: #fff;
}

header .head_area01 #gnavi #menu_top_nav > li {
  padding: 10px;
}

header .head_area01 #gnavi #menu_top_nav > li:hover {
  background-color: #f44;
}

header .head_area01 #gnavi #menu_top_nav > li > a {
  top: 1px;
  min-height: 19.5px;
  color: #fff;
  text-decoration: none;
}

header .head_area01 #gnavi #menu_top_nav > li .header-dropdown .header-dropdown__content {
  font-size: 13px;
  color: #000;
}

header .head_area01 #gnavi #menu_top_nav > li .header-dropdown .header-dropdown__content > a {
  text-decoration: none;
}

header .head_area01 #gnavi #menu_top_nav > li .header-dropdown .header-dropdown__content > label {
  font-weight: normal;
}

header .head_area01 #gnavi #menu_top_nav .official_link {
  padding-left: 15px;
  padding-right: 15px;
}

header .head_area01 .navbar-header .navbar-toggle {
  height: 34px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-left: 1px solid #fff;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  position: inherit;
}

header .head_area01 .navbar-header .navbar-toggle:hover, header .head_area01 .navbar-header .navbar-toggle:focus {
  background-color: transparent;
}

header .head_area01 .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}

header .head_area02 {
  background-color: #fff;
  margin: 0 auto;
  padding: 10px;
  width: 1080px;
}

header .head_area02 .logo {
  float: left;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

nav {
  font-size: 13px;
  float: left;
  width: 15%;
}

nav .panel-header {
  background-color: #f00;
  color: #fff;
  border: 1px solid #f00;
  padding: 1px 0;
  width: 100%;
}

nav .panel-header a {
  color: #000;
}

nav .panel-header a:hover, nav .panel-header a:active, nav .panel-header a:visited {
  color: #fff;
}

nav .panel-group {
  width: 100%;
  border: 5px solid #e0e0e0;
}

nav .panel-group .panel-default .panel-heading,
nav .panel-group .panel-default .panel-body {
  padding: 0px;
  background-color: #fff;
}

nav .panel-group .panel-default .panel-heading a,
nav .panel-group .panel-default .panel-body a {
  display: inline-block;
  width: 100%;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}

nav .panel-group .panel-default .panel-heading a:hover .txt_hover,
nav .panel-group .panel-default .panel-body a:hover .txt_hover {
  border-bottom: 2px dotted #f00;
}

nav .panel-group .panel + .panel {
  margin-top: 0;
  border-top: none;
}

nav .dropdown-menu {
  width: 162px;
  left: -5px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
  font-size: inherit;
  box-shadow: none;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

section {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  float: left;
  width: 85%;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

header .head_area01:after, header .head_area02:after, footer .foot_area01:after, footer .foot_area02:after, #container:after {
  overflow: hidden;
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 100%;
  min-width: 1080px;
}

footer .foot_area01 {
  background-color: #fff;
  margin: 0 auto;
  padding: 10px;
  width: 1080px;
}

footer .foot_area02 {
  background-color: #000;
  font-size: 12px;
  padding: 8px 15px;
}

footer .foot_area02 p {
  color: #fff;
}

footer .foot_area02 p #copyright {
  text-align: center;
}

.navbar-nav > li > a {
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  opacity: 0.87;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.fz11 {
  font-size: 11px;
}

.fz25 {
  font-size: 25px;
}

.w80 {
  width: 80%;
}

.w100 {
  width: 100%;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv10 {
  margin-top: 10px;
  margin-bottom: x110px;
}

.mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mh5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mh10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m0auto {
  margin: 0 auto;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pv5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.ph5 {
  padding-left: 5px;
  padding-right: 5px;
}

.ph10 {
  padding-left: 10px;
  padding-right: 10px;
}

.ph20 {
  padding-left: 20px;
  padding-right: 20px;
}

.fln {
  float: none;
}

p {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: left;
}

h2 {
  font-size: 18px;
}

label {
  line-height: 16px;
  padding-left: 5px;
}

a {
  color: #304FFE;
  text-decoration: underline;
}

.note {
  font-size: 8pt;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.cf00 {
  color: #f00;
}

.c00f {
  color: #00f;
}

.gold {
  color: #ffd700;
}

.bgc_fff {
  background-color: #fff !important;
}

.bd_none {
  border: none;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

input::selection,
textarea::selection {
  color: #000;
}

input, select {
  border: solid 1px #ccc;
  border-radius: 5px;
}

input[type="text"],
input[type="password"],
select {
  padding-left: 5px;
}

select {
  /*Firefox用*/
  text-indent: .01px;
  text-overflow: "";
}

caption {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

table.table_list {
  border-collapse: separate;
  border-spacing: 0 3px;
}

table.table_list th, table.table_list td {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 20%;
}

table.table_list th.name, table.table_list td.name {
  width: 40%;
  font-size: 14px;
}

table.table_list th {
  background-color: #f00;
  color: #fff;
  border-left: 2px solid #fff;
}

table.table_list th a {
  color: #000;
}

table.table_list th a:hover, table.table_list th a:active, table.table_list th a:visited {
  color: #fff;
}

table.table_list th:first-child {
  border-left: 0;
}

table.table_list td {
  padding-left: 10px;
  text-align: left;
}

#container {
  width: 1080px;
  min-width: 1080px;
  margin: 0 auto;
  padding: 20px 0;
}

.alert {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-bottom: 18px;
  text-align: left;
  border: solid 1px #000;
  color: #000;
}

.alert ul > li {
  list-style-type: circle;
}

.alert.alert-info {
  border: solid 1px #03A9F4;
  color: #03A9F4;
}

.alert.alert-error {
  border: solid 1px "$base_color - 10";
  color: #f50000;
  font-weight: bold;
}

.secondary_text {
  color: #000;
  opacity: 0.54;
}

.contents {
  border: 1px solid #e0e0e0;
  padding: 10px;
  width: 100%;
}

.control_group {
  line-height: 30px;
}

.control_group th, .control_group td {
  text-align: left;
}

.control_group th, .control_group th > label {
  padding-right: 10px;
  font-weight: normal;
}

.fuelphp-dump {
  text-align: left;
}
