.change-pass {
  border: 1px solid #e0e0e0;
  padding: 10px;
  width: 100%;
}

.change-pass .table.table_add {
  width: 90%;
  margin: 0 auto;
}

.change-pass .table.table_add th, .change-pass .table.table_add td {
  vertical-align: middle;
}

.change-pass .table.table_add tr:first-child > th, .change-pass .table.table_add tr:first-child > td {
  border-top: none;
}

.change-pass .table.table_add th {
  width: 40%;
  padding-left: 30px;
}

.change-pass .table.table_add td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  text-align: left;
}

.change-pass .table.table_add .control_group {
  border-bottom: #e0e0e0 solid 1px;
  line-height: 30px;
}

.change-pass .table.table_add .control_group th, .change-pass .table.table_add .control_group td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.change-pass .table.table_add .control_group th input, .change-pass .table.table_add .control_group th select, .change-pass .table.table_add .control_group td input, .change-pass .table.table_add .control_group td select {
  line-height: 30px;
}

.change-pass #form_old_pass,
.change-pass #form_new_pass,
.change-pass #form_new_pass_confirm {
  width: 200px;
}
