.whats-new {
  width: 500px;
  margin: 10px auto 0;
  border: 1px solid #ddd;
}

.whats-new__header > table {
  margin-bottom: 0;
}

.whats-new__header > table th:first-child {
  width: 135px;
}

.whats-new__body {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

.whats-new__body > table tr:first-child > td {
  border-top: none;
}

.whats-new__body--date,
.whats-new__body--info {
  text-align: left;
}

.whats-new__body--date {
  width: 135px;
}
