.member_profile {
  width: 800px;
  margin: 0 auto;
}

.member_profile .control_group {
  border-bottom: 1px solid #e0e0e0;
}

.member_profile .control_group > th {
  width: 40%;
  padding-left: 30px;
}

.member_profile .control_group > td {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  text-align: left;
}

.member_profile .control_group:last-child {
  border-bottom: 0;
}

.member_profile .login_id_set {
  display: table;
}

.member_profile .login_id_set > div {
  display: table-cell;
}

.member_profile .login_id_set .change_mail,
.member_profile .login_id_set .save_mail {
  vertical-align: top;
  margin-top: 2px;
  margin-left: 10px;
}

.member_profile .login_id_set #form_login_id,
.member_profile .login_id_set .save_mail {
  display: none;
}

.member_profile .login_id_set #form_login_id {
  width: 300px;
}

.member_profile #form_attendance_url {
  width: 80%;
  margin-right: 10px;
}

.member_profile .join_count {
  font-size: 13px;
  font-weight: bold;
}

.join_year_list {
  width: 100%;
  margin: 0 auto;
}

.join_year_list thead tr {
  border-bottom: 1px solid #e0e0e0;
}

.join_year_list tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.join_year_list tbody tr:last-child {
  border-bottom: none;
}

.join_year_list th {
  padding: 0;
}

.join_year_list th, .join_year_list td {
  width: 27%;
  text-align: left;
  line-height: 25px;
}

.join_year_list th:first-child, .join_year_list td:first-child {
  width: 19%;
}
