.schedule-wrapper {
  border: 1px solid #e0e0e0;
  padding: 10px;
  width: 100%;
}

.schedule-year-list {
  padding: 10px;
  text-align: left;
}

.schedule-head {
  width: 100%;
  margin-bottom: 20px;
  display: table;
}

[class^="schedule-head__"] {
  display: table-cell;
}

.schedule-head__add {
  width: 15%;
}

.schedule-table td[class^="schedule-table__"]:not(.schedule-table__count-check) {
  text-align: left;
}

.schedule-table tr.undecided {
  background-color: #fcc;
  color: #f00;
}

.schedule-table__date {
  width: 10%;
}

.schedule-table__dow {
  width: 10%;
}

.schedule-table__event {
  width: 65%;
}
