// footer

@import "../_mixin.scss";
@import "../_extend.scss";
@import "../_variables.scss";

footer {
    width: 100%;
    min-width: 1080px;
    .foot_area01 {
        @extend %clearfix;
        background-color: #fff;
        margin: 0 auto;
        padding: 10px;
        width: 1080px;
    }

    .foot_area02 {
        @extend %clearfix;
        background-color: #000;
        font-size: 12px;
        padding: 8px 15px;
        p {
            color: #fff;
            #copyright {
                text-align: center;
            }
        }
    }
}
