// header

@import "../_mixin.scss";
@import "../_extend.scss";
@import "../_variables.scss";

header {
    width: 100%;
    min-width: 1080px;
    .head_area01 {
        @extend %clearfix;
        background-color: $base_color;
        font-size: $base_font_size;
        .band_name {
            float: left;
            padding: 8px 15px;
            height: 34px;
            font-size: 13px;
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
        #gnavi {
            height: 34px !important;
            padding: 0;
            #menu_top_nav {
                margin-right: 0;
                color: #fff;
                >li {
                    padding: 10px;
                    &:hover {
                        background-color: #f44;
                    }
                    >a {
                        top: 1px;
                        min-height: 19.5px;
                        color: #fff;
                        text-decoration: none;
                    }
                    .header-dropdown {
                        .header-dropdown__content {
                            font-size: 13px;
                            color: #000;
                            >a {
                                text-decoration: none;
                            }
                            >label {
                                font-weight: normal;
                            }
                        }
                    }
                }
                .official_link {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
        .navbar-header {
            .navbar-toggle {
                height: 34px;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;
                border-left: 1px solid #fff;
                border-right: none;
                border-top: none;
                border-bottom: none;
                border-radius: 0;
                position: inherit;
                &:hover, &:focus {
                    background-color: transparent;
                }
                .icon-bar {
                    background-color: #fff;
                }
            }
        }
    }
    .head_area02 {
        @extend %clearfix;
        background-color: #fff;
        margin: 0 auto;
        padding: 10px;
        width: 1080px;
        .logo {
            float: left;
        }
    }
}
