// nav

@import "../_mixin.scss";
@import "../_extend.scss";
@import "../_variables.scss";

nav {
    font-size: $base_font_size;
    float: left;
    width: 15%;
    .panel-header {
        @include base_color_style;
        border: 1px solid $base_color;
        padding: 1px 0;
        width: 100%;
    }
    .panel-group {
        width: 100%;
        border: 5px solid $frame_color;
        .panel-default {
            .panel-heading,
            .panel-body {
                padding: 0px;
                background-color: #fff;
                a {
                    display: inline-block;
                    width: 100%;
                    line-height: $wgt_menu_hight;
                    color: $base_font_color;
                    text-decoration: none;
                    &:hover {
                        .txt_hover {
                            @include nav_hover;
                        }
                    }
                }
            }
        }
    }
    .panel-group .panel + .panel {
        margin-top: 0;
        border-top: none;
    }
    .dropdown-menu {
        width: 162px;
        left: -5px;
        padding: 0;
        margin: 0;
        border: none;
        text-align: center;
        font-size: inherit;
        box-shadow: none;
    }
}
