
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

.member_profile {
    @include base_frame();
    @include p10;
    width: 100%;
    .table.table_add {
        width: 90%;
        margin: 0 auto;
        th, td {
            vertical-align: middle;
        }
        tr:first-child {
            &>th, &>td {
                border-top: none;
            }
        }
        th {
            width: 40%;
            padding-left: 30px;
        }
        td {
            @include pv20;
            padding-right: 30px;
            text-align: left;
        }
        .control_group {
            border-bottom: $frame_color solid 1px;
            line-height: 30px;
            th, td {
                padding-top: 20px;
                padding-bottom: 20px;
                input, select {
                    line-height: 30px;
                }
            }
        }
        #form_login_id {
            width: 100%;
        }
        #form_join_year,
        #form_position_id,
        #form_section_id,
        #form_part_id {
            width: 200px;
        }
        .control_group {
            th, th>label {
                width: 95px;
            }
        }
    }
}