@charset "utf-8";

@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

.param {
    @include p10;
    text-align: left;
    line-height: 30px;
    #form_year {
        line-height: 18px;
        vertical-align: top;
        margin-right: -5px;
        border-radius: 5px;
    }
    .param__period {
        margin-left: 10px;
        color: #00f;
        text-decoration: underline;
    }
}

$schedule_list_width: 855px;
$schedule_list_height: 500px;
$cell_width: 85px;
$cell_height: 50px;
$header_h_height: $cell_height*3 + 3;
$header_v_width: 160px;

.base-frame {
    @include base_frame();
    @include p10;
    overflow: auto;
    #schedule-list {
        position: relative;
        width: $schedule_list_width;
        height: $schedule_list_height;
        margin-top: 10px;
        margin-left: 10px;
        border: 1px solid $base_color + 140;
        float: left;
        .table-scroll {
            border-collapse: collapse;
            table-layout: fixed;
            margin: 0;
            width: 100%;
            th, td {
                @include pv5;
            }
            th {
                @include base_color_style;
            }
            td {
                border: 1px solid $base_color + 140;
            }
            .tds_over, .over_active {
                background-color: $base_color + 240;
            }

        }
        #corner {
            position: absolute;
                left: 0px;
                top: 0px;
            width: $header_v_width;
            margin: 0;
            border-bottom: 3px double $base_color + 140;
            tr:last-child td {
                border-bottom: none;
            }
            th, td {
                text-align: center;
            }
            th {
                border-right: 3px double $base_color;
            }
            td {
                border-left: none;
                border-right: 3px double $base_color + 140;
            }
        }
        #header-h {
            position: absolute;
                left: $header_v_width;
                top: 0px;
            overflow-x: hidden;
            overflow-y: hidden;
            width: $schedule_list_width - $header_v_width - 2;
            border-bottom: 3px double $base_color + 140;
            th {
                @include pv5;
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                text-align: center;
            }
            th:first-child, td:first-child {
                border-left: none;
            }
            tr:last-child td {
                border-bottom: none;
            }
            th:last-child {
                border-right: 1px solid $base_color + 140;
            }
            .event {
                white-space: nowrap;
                overflow: scroll;
            }
        }
        #header-v {
            position: absolute;
                left: 0px;
                top: $header_h_height;
            overflow-x: hidden;
            overflow-y: hidden;
            width: $header_v_width;
            height: $schedule_list_height - $header_h_height - 1;
            .name {
                padding-left: 5px;
                border-left: none;
                border-right: 3px double $base_color + 140;
            }
            tr:first-child .name {
                border-top: none;
            }
        }
        #data {
            position: absolute;
                left: $header_v_width;
                top: $header_h_height;
            overflow-x: scroll;
            overflow-y: scroll;
            width: $schedule_list_width - $header_v_width - 2;
            height: $schedule_list_height - $header_h_height - 1;
            .personal_row td {
                padding-left: 5px;
            }
            .personal_row:first-child td {
                border-top: none;
            }
            td:first-child {
                border-left: none;
            }
            .undecided {
                background-color: #fcc;
                color: #f00;
            }
        }
        .h-fix-tbl {
            width: $schedule_list_width - $header_v_width;
        }
        .corner th, .corner td {
            width: header_v_width;
            height: $cell_height;
        }
        .h-fix-tbl th, .h-fix-tbl td {
            width: $cell_width;
            height: $cell_height;
            padding: 0 5px;
        }
        .v-fix-tbl th, .v-fix-tbl td {
            width: $header_v_width - 2;
            height: 28px;
        }
        .attend {
            .personal_row {
                height: 29px;
                &:first-child {
                    height: 28px;
                }
            }
            td {
                width: $cell_width;
            }
        }
    }
    #attendee-total {
        margin-top: $header_h_height + 10;
        .table.attendee-total--table {
            width: auto;
            .attendee-total--table--personal {
                width: 135px;
                height: 29px;
                padding: 0 0 0 10px;
                border-top: 1px solid $base_color + 140;
                border-bottom: 1px solid $base_color + 140;
                border-right: 1px solid $base_color + 140;
                text-align: left;
                vertical-align: middle;
            }
        }
    }
}

