
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

.change-pass {
    @include base_frame();
    @include p10;
    width: 100%;
    .table.table_add {
        width: 90%;
        margin: 0 auto;
        th, td {
            vertical-align: middle;
        }
        tr:first-child {
            &>th, &>td {
                border-top: none;
            }
        }
        th {
            width: 40%;
            padding-left: 30px;
        }
        td {
            @include pv20;
            padding-right: 30px;
            text-align: left;
        }
        .control_group {
            border-bottom: $frame_color solid 1px;
            line-height: 30px;
            th, td {
                padding-top: 20px;
                padding-bottom: 20px;
                input, select {
                    line-height: 30px;
                }
            }
        }
    }
    #form_old_pass,
    #form_new_pass,
    #form_new_pass_confirm {
        width: 200px;
    }
}