
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

section {
    @include base_width;
}
label {
    text-align: left;
    display: block;
}
input {
    margin-bottom: 10px;
    width: 100%;
}
#form_login {
    margin-top: 10px;
}
.control_group {
    width: 400px;
    margin: 0 auto 10px;
}