
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

.fiscal_year_list {
    @include p10;
    text-align: left;
    line-height: 30px;
    #form_year {
        line-height: 18px;
        vertical-align: top;
        margin-right: -5px;
        border-radius: 5px
    }
}
.member-list {
    @include base_frame();
    @include p10;
    width: 100%;
    .position {
        @include mv10;
        .table.table_list {
            tr:nth-child(2)>td {
                border-top: none;
            }
        }
        .position_name {
            font-size: 16px;
            font-weight: bold;
            text-align: left;
        }
        .position_cnt {
            font-size: 13px;
            font-weight: bold;
            text-align: right;
            padding-right: 10px;
        }
    }
}

.member-list__table {
    width: 100%;
}
.member-list__header--id,
.member-list__header--name,
.member-list__header--section,
.member-list__header--part,
.member-list__body--id,
.member-list__body--name,
.member-list__body--section,
.member-list__body--part {
    text-align: left;
}

.member-list__header--id,
.member-list__body--id {
    width: 5%;
}
.member-list__header--name,
.member-list__body--name {
    width: 50%;
}
.member-list__header--section,
.member-list__body--section {
    width: 25%;
}
.member-list__header--part,
.member-list__body--part {
    width: 20%;
}