
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

.member_profile {
    width: 800px;
    margin: 0 auto;
    .control_group {
        @include base_frame_bb;
        >th {
            width: 40%;
            padding-left: 30px;
        }
        >td {
            width: 60%;
            @include pv20;
            padding-right: 30px;
            text-align: left;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
    .login_id_set {
        display: table;
        >div {
            display: table-cell;
        }
        .change_mail,
        .save_mail {
            vertical-align: top;
            margin-top: 2px;
            margin-left: 10px;
        }
        #form_login_id,
        .save_mail {
            display: none;
        }
        #form_login_id {
            width: 300px;
        }
    }
    #form_attendance_url {
        width: 80%;
        margin-right: 10px;
    }
    .join_count {
        font-size: 13px;
        font-weight: bold;
    }
}
.join_year_list {
    width: 100%;
    margin: 0 auto;
    thead {
        tr {
            @include base_frame_bb;
        }
    }
    tbody {
        tr {
            @include base_frame_bb;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    th {
        padding: 0;
    }
    th, td {
        width: 27%;
        text-align: left;
        line-height: 25px;
        &:first-child {
            width: 19%;
        }
    }
}