
@import "_mixin.scss";
@import "_extend.scss";
@import "_variables.scss";

section {
    // margin: auto;
}
.schedule-wrapper {
    @include base_frame();
    @include p10;
    width: 100%;
}
.schedule-year-list {
    padding: 10px;
    text-align: left;
}
.schedule-head {
    width: 100%;
    margin-bottom: 20px;
    display: table;
}
[class^="schedule-head__"] {
    display: table-cell;
}
.schedule-head__title {
}
.schedule-head__add {
    width: 15%;
}
.schedule-table {
    td[class^="schedule-table__"]:not(.schedule-table__count-check) {
        text-align: left;
    }
    tr.undecided {
        background-color: #fcc;
        color: #f00;
    }
}
.schedule-table__date {
    width: 10%;
}
.schedule-table__dow{
    width: 10%;
}
.schedule-table__event {
    width: 65%;
}
.schedule-table__count-check {
}
.schedule-table__edit {
}
