.member_profile {
  border: 1px solid #e0e0e0;
  padding: 10px;
  width: 100%;
}

.member_profile .table.table_add {
  width: 90%;
  margin: 0 auto;
}

.member_profile .table.table_add th, .member_profile .table.table_add td {
  vertical-align: middle;
}

.member_profile .table.table_add tr:first-child > th, .member_profile .table.table_add tr:first-child > td {
  border-top: none;
}

.member_profile .table.table_add th {
  width: 40%;
}

.member_profile .table.table_add td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  text-align: left;
}

.member_profile .table.table_add .control_group {
  border-bottom: #e0e0e0 solid 1px;
  line-height: 30px;
}

.member_profile .table.table_add .control_group th, .member_profile .table.table_add .control_group td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.member_profile .table.table_add .control_group th input, .member_profile .table.table_add .control_group th select, .member_profile .table.table_add .control_group td input, .member_profile .table.table_add .control_group td select {
  line-height: 30px;
}

.member_profile .table.table_add #form_login_id {
  width: 100%;
}

.member_profile .table.table_add #form_join_year,
.member_profile .table.table_add #form_position_id,
.member_profile .table.table_add #form_section_id,
.member_profile .table.table_add #form_part_id {
  width: 200px;
}

.member_profile .table.table_add .control_group th, .member_profile .table.table_add .control_group th > label {
  width: 95px;
}
