section {
  margin: auto;
}

.attendance-wrapper {
  width: 100%;
  margin: auto;
}

.attendance-head {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: table;
  background-color: white;
}

.attendance-head.fixed {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #f99;
}

[class^="attendance-head__"] {
  display: table-cell;
}

.attendance-head__title {
  text-align: left;
}

.attendance-head__title > h2 {
  margin-top: 0;
}

.attendance-head__submit {
  text-align: right;
  vertical-align: middle;
}

.attendance-head__submit > input {
  margin-top: -5px;
  margin-right: 1px;
}

.attendance-body.scrolled {
  margin-top: 83px;
}

.attendance-table [class^="attendance-table__"] {
  text-align: left;
}

.attendance-table .form-control {
  padding: 6px 5px;
}

.attendance-table tr.undecided {
  background-color: #fcc;
  color: #f00;
}

.attendance-table__date {
  width: 10%;
}

.attendance-table__dow {
  width: 12%;
}

.attendance-table__attendance {
  width: 22%;
}

.modal-chg-attend__header--title {
  text-align: left;
}

.modal-chg-attend .modal-body {
  height: 180px;
}

.modal-chg-attend__body--date {
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
}

.modal-chg-attend__body--new {
  width: 50%;
  display: inline-block;
}

.modal-chg-attend__body--alert {
  margin-top: 16px;
}
