.year_list {
  padding: 10px;
  text-align: left;
  line-height: 30px;
}

.year_list #form_year {
  line-height: 18px;
  vertical-align: top;
  margin-right: -5px;
  border-radius: 5px;
}

.member_list {
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.member_list .position .table.table_list tr > td {
  padding-top: 5px;
  padding-bottom: 0;
  padding-left: 5px;
}

.member_list .position .table.table_list tr:nth-child(2) > td {
  border-top: none;
}

.member_list .position .position_name {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.member_list .position .position_cnt {
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.member-list__header--name,
.member-list__body--name {
  width: 10% !important;
}

.member-list__body--name {
  padding-bottom: 10px !important;
}
