#form_login {
  margin-top: 10px;
}

.control_group {
  width: 100%;
  margin: 0 auto 10px;
}

.control_group label {
  text-align: left;
  display: block;
}

.control_group input {
  margin-bottom: 10px;
  width: 100%;
}
