.member_profile {
  width: 100%;
}

.member_profile .control_group {
  border-bottom: 1px solid #e0e0e0;
}

.member_profile .control_group > th {
  width: 25%;
  padding-right: 5px;
}

.member_profile .control_group > td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
  text-align: left;
}

.member_profile .control_group:last-child {
  border-bottom: 0;
}

.member_profile .login_id_set {
  display: table;
}

.member_profile .login_id_set > div {
  display: table-cell;
}

.member_profile .login_id_set .change_mail,
.member_profile .login_id_set .save_mail {
  vertical-align: top;
  margin-top: 2px;
  margin-left: 10px;
}

.member_profile .login_id_set #form_login_id,
.member_profile .login_id_set .save_mail {
  display: none;
}

.member_profile .login_id_set #form_login_id {
  width: 300px;
}

.member_profile #form_attendance_url {
  width: 100%;
  padding-right: 5px;
}

.member_profile .join_count {
  font-size: 13px;
  font-weight: bold;
}

.join_year_list {
  width: 100%;
  margin: 0 auto;
}

.join_year_list thead tr {
  border-bottom: 1px solid #e0e0e0;
}

.join_year_list thead tr th {
  padding: 0;
}

.join_year_list tbody {
  font-size: 10px;
}

.join_year_list tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.join_year_list tbody tr:last-child {
  border-bottom: none;
}

.join_year_list tbody tr td {
  width: 32%;
  text-align: left;
  line-height: 2.5em;
}

.join_year_list tbody tr td:first-child {
  width: 15%;
}
