.schedule-form {
  border: 1px solid #e0e0e0;
  padding: 10px;
  width: 100%;
}

.schedule-form .table.table_add {
  width: 90%;
  margin: 0 auto;
}

.schedule-form .table.table_add th, .schedule-form .table.table_add td {
  vertical-align: middle;
}

.schedule-form .table.table_add tr:first-child > th, .schedule-form .table.table_add tr:first-child > td {
  border-top: none;
}

.schedule-form .table.table_add th {
  width: 40%;
  padding-left: 30px;
}

.schedule-form .table.table_add td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  text-align: left;
}

.schedule-form .table.table_add .control_group {
  border-bottom: #e0e0e0 solid 1px;
  line-height: 30px;
}

.schedule-form .table.table_add .control_group th, .schedule-form .table.table_add .control_group td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.schedule-form .table.table_add .control_group th input, .schedule-form .table.table_add .control_group th select, .schedule-form .table.table_add .control_group td input, .schedule-form .table.table_add .control_group td select {
  line-height: 30px;
}

.schedule-form .table.table_add #form_event {
  width: 100%;
}

.schedule-form .table.table_add #form_year {
  width: 200px;
}

.schedule-form .table.table_add #form_date {
  width: 200px;
  padding: 0 5px;
}
